section.collection-1
	.container
		.row
			.col-lg-3
				.desktop-collection-nav
					.collection-nav
						.title
							h2 Các phòng
						.links
							a(href="javascript:void(0)").active Phòng khách
							a(href="javascript:void(0)") Phòng ngủ
							a(href="javascript:void(0)") Phòng ăn
							a(href="javascript:void(0)") Phòng làm việc
				.desktop-filter-nav
					.filter-nav
						.title
							h2 chọn lọc theo
						.filter
							.name
								span Phong cách
								i.lnr.lnr-chevron-down
							.attributes
								a(href="javascript:void(0)").active Cổ điển
								a(href="javascript:void(0)") Hiện đại
								a(href="javascript:void(0)") Retrol
								a(href="javascript:void(0)") Scandinavi
								a(href="javascript:void(0)") Industrial
								a(href="javascript:void(0)") Metropolitan
								a(href="javascript:void(0)") Urban
						.filter
							.name
								span Phong cách
								i.lnr.lnr-chevron-down
							.attributes
								a(href="javascript:void(0)") Cổ điển
								a(href="javascript:void(0)") Hiện đại
								a(href="javascript:void(0)") Retrol
								a(href="javascript:void(0)") Scandinavi
								a(href="javascript:void(0)") Industrial
								a(href="javascript:void(0)") Metropolitan
								a(href="javascript:void(0)") Urban

			.col-lg-9
				.tagline-5
					.title
						h1 Phòng ngủ
				.sort
					select(bg-img="./img/global/selectarrow.png")
						option(selected) Sắp xếp theo
						option Giá
				.collections
					a(href="javascript:void(0)")
						figure
							.box-zoom
								img(src="./img/bst/1.png", alt="")
					a(href="javascript:void(0)")
						figure
							.box-zoom
								img(src="./img/bst/2.png", alt="")
					a(href="javascript:void(0)")
						figure
							.box-zoom
								img(src="./img/bst/3.png", alt="")
					a(href="javascript:void(0)")
						figure
							.box-zoom
								img(src="./img/bst/4.png", alt="")
				
	.mobile-collection-nav
		.mobile-collection-nav-backdrop
		.mobile-toggle-button
			i.lnr.lnr-chevron-right

	.mobile-filter-nav
		.mobile-filter-nav-backdrop
		.mobile-toggle-button
			i.lnr.lnr-funnel