section.home-1
	.container
		.row
			.col-md-3
				a(href="javascript:void(0)")
					h2 bst mới của gunam
					i.fas.fa-plus
			.col-md-3
				a(href="javascript:void(0)")
					h2 bst mới của gunam
					i.fas.fa-plus
			.col-md-3
				a(href="javascript:void(0)")
					h2 bst mới của gunam
					i.fas.fa-plus
			.col-md-3
				a(href="javascript:void(0)")
					h2 bst mới của gunam
					i.fas.fa-plus