section.home-1
	.container
		.home-1-nav-wrapper
			.home-1-nav
				.item
					h2
						a(href="javascript:void(0)") 
							span bst mới của gunam
							i.fas.fa-plus
				.item
					h2
						a(href="javascript:void(0)") 
							span tư vấn thiết kế
							i.fas.fa-plus
				.item
					h2
						a(href="javascript:void(0)") 
							span vận chuyển miễn phí
							i.fas.fa-plus
				.item
					h2
						a(href="javascript:void(0)") 
							span hỗ trợ trọn đời
							i.fas.fa-plus