section.home-1
	.container
		.home-1-nav-wrapper
			.home-1-nav
				.item
					a(href="javascript:void(0)")
						h2 bst mới của gunam
						i.fas.fa-plus
				.item
					a(href="javascript:void(0)")
						h2 tư vấn thiết kế
						i.fas.fa-plus
				.item
					a(href="javascript:void(0)")
						h2 vận chuyển miễn phí
						i.fas.fa-plus
				.item
					a(href="javascript:void(0)")
						h2 hỗ trợ trọn đời
						i.fas.fa-plus