section.home-2
	.container
		.blocks
			.block
				a(href="javascript:void(0)")
					figure
						.box-zoom
							img(src="./img/home/home_category_1.png", alt="")
						figcaption
							.title
								h2 Sofa
			.block
				a(href="javascript:void(0)")
					figure
						.box-zoom
							img(src="./img/home/home_category_2.png", alt="")
						figcaption
							.title
								h2 Bộ bàn ăn
			.block
				a(href="javascript:void(0)")
					figure
						.box-zoom
							img(src="./img/home/home_category_3.png", alt="")
						figcaption
							.title
								h2 Chăn, ra, gối
			.block
				a(href="javascript:void(0)")
					figure
						.box-zoom
							img(src="./img/home/home_category_4.png", alt="")
						figcaption
							.title
								h2 Góc làm việc
			.block
				a(href="javascript:void(0)")
					figure
						.box-zoom
							img(src="./img/home/home_category_5.png", alt="")
						figcaption
							.title
								h2 Dụng cụ bàn ăn
			.block
				a(href="javascript:void(0)")
					figure
						.box-zoom
							img(src="./img/home/home_category_6.png", alt="")
						figcaption
							.title
								h2 Đồ ngoài trời