section.about-doitac
	.container
		.row
			.col-lg-3
				.desktop-about-nav
					.about-nav
						.title
							h2 giới thiệu
						.links
							a(href="javascript:void(0)").active Về chúng tôi
							a(href="javascript:void(0)") Cam kết
							a(href="javascript:void(0)") Đối tác
							a(href="javascript:void(0)") Thương hiệu
							a(href="javascript:void(0)") Media

			.col-lg-9
				.tagline-2
					.title
						h1 Về chúng tôi
				.content
					.zone1
						.zone-title
							h2 Đối tác phi lợi nhuận
						.zone-slider-1
							.item
								a(href="javascript:void(0)")
									img(src="./img/partner/1.png", alt="")
								a(href="javascript:void(0)")
									img(src="./img/partner/6.png", alt="")
							.item
								a(href="javascript:void(0)")
									img(src="./img/partner/1.png", alt="")
								a(href="javascript:void(0)")
									img(src="./img/partner/6.png", alt="")
							.item
								a(href="javascript:void(0)")
									img(src="./img/partner/1.png", alt="")
								a(href="javascript:void(0)")
									img(src="./img/partner/6.png", alt="")
							.item
								a(href="javascript:void(0)")
									img(src="./img/partner/1.png", alt="")
								a(href="javascript:void(0)")
									img(src="./img/partner/6.png", alt="")
							.item
								a(href="javascript:void(0)")
									img(src="./img/partner/1.png", alt="")
								a(href="javascript:void(0)")
									img(src="./img/partner/6.png", alt="")
							.item
								a(href="javascript:void(0)")
									img(src="./img/partner/1.png", alt="")
								a(href="javascript:void(0)")
									img(src="./img/partner/6.png", alt="")
					.zone2
						.zone-title
							h2 Đối tác phi lợi nhuận
						.zone-slider-2
							.item
								a(href="javascript:void(0)")
									img(src="./img/partner/1.png", alt="")
							.item
								a(href="javascript:void(0)")
									img(src="./img/partner/1.png", alt="")
							.item
								a(href="javascript:void(0)")
									img(src="./img/partner/1.png", alt="")
							.item
								a(href="javascript:void(0)")
									img(src="./img/partner/1.png", alt="")
							.item
								a(href="javascript:void(0)")
									img(src="./img/partner/1.png", alt="")
							.item
								a(href="javascript:void(0)")
									img(src="./img/partner/1.png", alt="")


	.mobile-about-nav
		.mobile-about-nav-backdrop
		.mobile-toggle-button
			i.lnr.lnr-chevron-right