section.lienhe-1
	.container
		.row
			.col
				.tagline-contact
					.title
						h1 Liên hệ
					.description
						p Quý khách vui lòng điền thông tin và gửi những góp ý, thắc mắc cho Công Ty TNHH SeedBe. Chúng tôi sẽ phản hồi email của Quý khách trong thời gian sớm nhất.
		.row
			.col-12.col-lg-5.offset-xl-1
				.info(bg-img="./img/lienhe/bg.png")
					.content
						h1 Công ty TNHH SeedBe
						p 
							i.lnr.lnr-map-marker
							span 50 Đường số 4, phường An Phú, quận 2, thành phố Hồ Chí Minh
						p 
							i.lnr.lnr-smartphone
							span (+84) 094 562 5518
						p 
							i.lnr.lnr-envelope
							span info@gunam.com
						p
							i.lnr.lnr-select
							span www.gunam.com
			.col-12.col-lg-7.col-xl-6
				.wrap-form
					div
						.form-group
							input(type="text" placeholder="Họ và tên...")
						.form-group
							input(type="text" placeholder="Email...")
						.form-group
							input(type="text" placeholder="Tiêu đề...")
						.form-group
							input(type="text" placeholder="Số điện thoại...")
						.form-group
							textarea(cols="30", rows="7" placeholder="Nội dung...")
					.frm-captcha
					.frm-btnwrap.form-group
						label &nbsp;
						.frm-btn.nth-viewmore
							input(type="submit" value="Gửi")
