section.g-image
	.container
		.row
			.col-lg-3
				.desktop-gallery-nav
					.gallery-nav
						.title
							h2 thư viện
						.links
							a(href="javascript:void(0)") 
								p Hình ảnh
								i.lnr.lnr-chevron-down
							.sub-links
								a(href="javascript:void(0)").active 
									i.mdi.mdi-menu-right
									span Hình ảnh khách hàng 
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Hình ảnh thiết kế 
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Catalogue 
						.links
							a(href="javascript:void(0)") 
								p Video
								i.lnr.lnr-chevron-down
							.sub-links
								a(href="javascript:void(0)")
									i.mdi.mdi-menu-right
									span Khách hàng
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Thiết kế
			.col-lg-9.gallery-content
				.tagline-3
					.title
						h1 Hình ảnh thiết kế
				.sort
					select(bg-img="./img/global/selectarrow.png")
						option(selected) Sắp xếp theo
						option Giá

				.row.news-image
					.col-6.col-md-4
						.images
							a(href="./img/gallery/1.png")
								img(src="./img/gallery/1.png", alt="")
							a(href="./img/gallery/2.png")
								img(src="./img/gallery/2.png", alt="")
							a(href="./img/gallery/3.png")
								img(src="./img/gallery/3.png", alt="")
							a(href="./img/gallery/4.png")
								img(src="./img/gallery/5.png", alt="")
					.col-6.col-md-4
						.images
							a(href="./img/gallery/2.png")
								img(src="./img/gallery/2.png", alt="")
							a(href="./img/gallery/2.png")
								img(src="./img/gallery/2.png", alt="")
							a(href="./img/gallery/3.png")
								img(src="./img/gallery/3.png", alt="")
							a(href="./img/gallery/4.png")
								img(src="./img/gallery/5.png", alt="")
					.col-6.col-md-4
						.images
							a(href="./img/gallery/3.png")
								img(src="./img/gallery/3.png", alt="")
							a(href="./img/gallery/2.png")
								img(src="./img/gallery/2.png", alt="")
							a(href="./img/gallery/3.png")
								img(src="./img/gallery/3.png", alt="")
							a(href="./img/gallery/4.png")
								img(src="./img/gallery/5.png", alt="")
					.col-6.col-md-4
						.images
							a(href="./img/gallery/4.png")
								img(src="./img/gallery/4.png", alt="")
							a(href="./img/gallery/2.png")
								img(src="./img/gallery/2.png", alt="")
							a(href="./img/gallery/3.png")
								img(src="./img/gallery/3.png", alt="")
							a(href="./img/gallery/4.png")
								img(src="./img/gallery/5.png", alt="")
					.col-6.col-md-4
						.images
							a(href="./img/gallery/5.png")
								img(src="./img/gallery/5.png", alt="")
							a(href="./img/gallery/2.png")
								img(src="./img/gallery/2.png", alt="")
							a(href="./img/gallery/3.png")
								img(src="./img/gallery/3.png", alt="")
							a(href="./img/gallery/4.png")
								img(src="./img/gallery/5.png", alt="")
					.col-6.col-md-4
						.images
							a(href="./img/gallery/6.png")
								img(src="./img/gallery/6.png", alt="")
							a(href="./img/gallery/2.png")
								img(src="./img/gallery/2.png", alt="")
							a(href="./img/gallery/3.png")
								img(src="./img/gallery/3.png", alt="")
							a(href="./img/gallery/4.png")
								img(src="./img/gallery/5.png", alt="")
					.col-6.col-md-4
						.images
							a(href="./img/gallery/7.png")
								img(src="./img/gallery/7.png", alt="")
							a(href="./img/gallery/2.png")
								img(src="./img/gallery/2.png", alt="")
							a(href="./img/gallery/3.png")
								img(src="./img/gallery/3.png", alt="")
							a(href="./img/gallery/4.png")
								img(src="./img/gallery/5.png", alt="")
					.col-6.col-md-4
						.images
							a(href="./img/gallery/8.png")
								img(src="./img/gallery/8.png", alt="")
							a(href="./img/gallery/2.png")
								img(src="./img/gallery/2.png", alt="")
							a(href="./img/gallery/3.png")
								img(src="./img/gallery/3.png", alt="")
							a(href="./img/gallery/4.png")
								img(src="./img/gallery/5.png", alt="")
					.col-6.col-md-4
						.images
							a(href="./img/gallery/9.png")
								img(src="./img/gallery/9.png", alt="")
							a(href="./img/gallery/2.png")
								img(src="./img/gallery/2.png", alt="")
							a(href="./img/gallery/3.png")
								img(src="./img/gallery/3.png", alt="")
							a(href="./img/gallery/4.png")
								img(src="./img/gallery/5.png", alt="")
					.col-6.col-md-4
						.images
							a(href="./img/gallery/10.png")
								img(src="./img/gallery/10.png", alt="")
							a(href="./img/gallery/2.png")
								img(src="./img/gallery/2.png", alt="")
							a(href="./img/gallery/3.png")
								img(src="./img/gallery/3.png", alt="")
							a(href="./img/gallery/4.png")
								img(src="./img/gallery/5.png", alt="")
					.col-6.col-md-4
						.images
							a(href="./img/gallery/11.png")
								img(src="./img/gallery/11.png", alt="")
							a(href="./img/gallery/2.png")
								img(src="./img/gallery/2.png", alt="")
							a(href="./img/gallery/3.png")
								img(src="./img/gallery/3.png", alt="")
							a(href="./img/gallery/4.png")
								img(src="./img/gallery/5.png", alt="")
					.col-6.col-md-4
						.images
							a(href="./img/gallery/12.png")
								img(src="./img/gallery/12.png", alt="")
							a(href="./img/gallery/2.png")
								img(src="./img/gallery/2.png", alt="")
							a(href="./img/gallery/3.png")
								img(src="./img/gallery/3.png", alt="")
							a(href="./img/gallery/4.png")
								img(src="./img/gallery/5.png", alt="")




	.mobile-gallery-nav
		.mobile-gallery-nav-backdrop
		.mobile-toggle-button
			i.lnr.lnr-chevron-right

.modulepager
	ul.pagination
		li
			a(href="javascript:void(0)").BackPage
		li.active
			a(href="javascript:void(0)") 1
		li
			a(href="javascript:void(0)") 2
		li
			a(href="javascript:void(0)") 3
		li
			a(href="javascript:void(0)").NextPage