section.canhcam-banner-1
	.banner-home
		.item
			a(href="javascript:void(0)")
				img(src="./img/global/banner_home.jpg", alt="")
		.item
			a(href="javascript:void(0)")
				img(src="./img/global/banner_home.jpg", alt="")