section.blogs-detail-1
	.container
		.row
			.col-lg-8.col-xl-9
				.title
					h1 Tiêu đề 1 cho chuyên mục blog
				.timeline
					.social
						p adsadadasdasd
					.time
						i.fas.fa-calendar-alt
						span 29/11/2018
				.content
					img(src="./img/blog/block_1.png", alt="")
					br
					p Kể từ khi thành lập vào năm 2016, Gunam đã dành riêng để kỷ niệm và duy trì truyền thống thủ công mỹ nghệ của Việt Nam. Chúng tôi có ba xưởng: nghề mộc Kim Cầu, gốm Phủ Dũ và vải dệt Hải Bình; và ba trụ cột của triết lý sản xuất: thiết kế tinh tế, lựa chọn vật liệu và khéo léo. Chúng tôi cũng quan tâm...
					br
					img(src="./img/blog/block_2.png", alt="")
					br
					p Kể từ khi thành lập vào năm 2016, Gunam đã dành riêng để kỷ niệm và duy trì truyền thống thủ công mỹ nghệ của Việt Nam. Chúng tôi có ba xưởng: nghề mộc Kim Cầu, gốm Phủ Dũ và vải dệt Hải Bình; và ba trụ cột của triết lý sản xuất: thiết kế tinh tế, lựa chọn vật liệu và khéo léo. Chúng tôi cũng quan tâm...
					br
					img(src="./img/blog/block_3.png", alt="")
					brp Kể từ khi thành lập vào năm 2016, Gunam đã dành riêng để kỷ niệm và duy trì truyền thống thủ công mỹ nghệ của Việt Nam. Chúng tôi có ba xưởng: nghề mộc Kim Cầu, gốm Phủ Dũ và vải dệt Hải Bình; và ba trụ cột của triết lý sản xuất: thiết kế tinh tế, lựa chọn vật liệu và khéo léo. Chúng tôi cũng quan tâm...
				.timeline
					.social
						p adsadadasdasd
					.time
						i.fas.fa-calendar-alt
						span 29/11/2018
			.col-lg-4.col-xl-3.side-blog-detail-wrapper
				.side-blog-detail
					.blog-detail-small
						.title
							h2 Tiêu đề 4 cho chuyên mục blog
						a(href="javascript:void(0)")
							figure
								.box-zoom
									img(src="./img/blog/block_4.png", alt="")
					.blog-detail-small
						.title
							h2 Tiêu đề 5 cho chuyên mục blog
						a(href="javascript:void(0)")
							figure
								.box-zoom
									img(src="./img/blog/block_5.png", alt="")
					.blog-detail-small
						.title
							h2 Tiêu đề 6 cho chuyên mục blog
						a(href="javascript:void(0)")
							figure
								.box-zoom
									img(src="./img/blog/block_6.png", alt="")
