section.h-muaonline
	.container
		.row
			.col-lg-3
				.desktop-hoidap-nav
					.hoidap-nav
						.title
							h2 Hỏi đáp / FAQ
						.links
							a(href="javascript:void(0)").active Mua online
							a(href="javascript:void(0)") Đổi trả sản phẩm
							a(href="javascript:void(0)") Cách thức thanh toán
							a(href="javascript:void(0)") Bảo hành sản phẩm
							a(href="javascript:void(0)") Hệ thống cửa hàng

			.col-lg-9
				.tagline-5
					.title
						h1 Mua online
				.sort
					select(bg-img="./img/global/selectarrow.png")
						option(selected) Sắp xếp theo
						option Giá
				.content
					h2 Hỏi: Seedbe có dịch vụ lắp ráp hàng tại nhà không?
					p Đáp: Các nhân viên kỹ thuật sẽ đến nhà bạn để lắp ráp hàng. Họ sẽ lắp ráp thành phẩm và bố trí ở nơi bạn muốn.
					br
					br
					h2 Hỏi: Seedbe có dịch vụ lắp ráp hàng tại nhà không?
					p Đáp: Các nhân viên kỹ thuật sẽ đến nhà bạn để lắp ráp hàng. Họ sẽ lắp ráp thành phẩm và bố trí ở nơi bạn muốn. Các nhân viên kỹ thuật sẽ đến nhà bạn để lắp ráp hàng. Họ sẽ lắp ráp thành phẩm và bố trí ở nơi bạn muốn
					br
					br
					h2 Hỏi: Seedbe có dịch vụ lắp ráp hàng tại nhà không?
					p Đáp: Các nhân viên kỹ thuật sẽ đến nhà bạn để lắp ráp hàng. Họ sẽ lắp ráp thành phẩm và bố trí ở nơi bạn muốn.
					br
					br
					h2 Hỏi: Seedbe có dịch vụ lắp ráp hàng tại nhà không?
					p Đáp: Các nhân viên kỹ thuật sẽ đến nhà bạn để lắp ráp hàng. Họ sẽ lắp ráp thành phẩm và bố trí ở nơi bạn muốn.
					br
					br
					h2 Hỏi: Seedbe có dịch vụ lắp ráp hàng tại nhà không?
					p Đáp: Các nhân viên kỹ thuật sẽ đến nhà bạn để lắp ráp hàng. Họ sẽ lắp ráp thành phẩm và bố trí ở nơi bạn muốn.
					br
					br
					h2 Hỏi: Seedbe có dịch vụ lắp ráp hàng tại nhà không?
					p Đáp: Các nhân viên kỹ thuật sẽ đến nhà bạn để lắp ráp hàng. Họ sẽ lắp ráp thành phẩm và bố trí ở nơi bạn muốn.
					br
					br
					h2 Hỏi: Seedbe có dịch vụ lắp ráp hàng tại nhà không?
					p Đáp: Các nhân viên kỹ thuật sẽ đến nhà bạn để lắp ráp hàng. Họ sẽ lắp ráp thành phẩm và bố trí ở nơi bạn muốn.


	.mobile-hoidap-nav
		.mobile-hoidap-nav-backdrop
		.mobile-toggle-button
			i.lnr.lnr-chevron-right