section.about-media
	.container
		.row
			.col-lg-3
				.desktop-about-nav
					.about-nav
						.title
							h2 giới thiệu
						.links
							a(href="javascript:void(0)").active Về chúng tôi
							a(href="javascript:void(0)") Cam kết
							a(href="javascript:void(0)") Đối tác
							a(href="javascript:void(0)") Thương hiệu
							a(href="javascript:void(0)") Media

			.col-lg-9
				.tagline-2
					.title
						h1 Về chúng tôi
				.content
					h2 Chúng tôi là
					p Kể từ khi thành lập vào năm 2016, Gunam đã dành riêng để kỷ niệm và duy trì truyền thống thủ công mỹ nghệ của Việt Nam. Chúng tôi có ba xưởng: nghề mộc Kim Cầu, gốm Phủ Dũ và vải dệt Hải Bình; và ba trụ cột của triết lý sản xuất: thiết kế tinh tế, lựa chọn vật liệu và khéo léo. Chúng tôi cũng quan tâm đến tác động. Bằng cách thiết kế trên 90% sản phẩm của chúng tôi trong nhà, đội ngũ thiết kế của chúng tôi đã liên tục tăng lựa chọn sản phẩm hữu cơ, thủ công, có nguồn gốc bền vững và được chứng nhận Fair Trade Certified ™ của chúng tôi. Có một câu chuyện đằng sau mọi thứ chúng tôi bán - một câu chuyện bắt đầu ...
					br
					br
					h2 Triết lý của chúng tôi
					p Chúng tôi nhiệt tình nỗ lực để khai quật vẻ đẹp thực sự của truyền thống thủ công Việt Nam với thế giới. Được làm thủ công với tình yêu và sự chăm sóc tuyệt vời của các nghệ nhân tận tụy, đồ gỗ, đồ gốm và các sản phẩm dệt của chúng tôi tôn vinh hàng thủ công đẹp nhất của quốc gia như những biểu hiện độc đáo của nhiều thế kỷ truyền thống cổ xưa và tinh tế đương đại. Với bàn tay của riêng chúng tôi,chúng tôi làm những điều thân mật bạn cần trong cuộc sống hàng ngày, và với họ, chúng tôi thêm một vẻ đẹp vượt thời gian.
					br
					p Triết lý thẩm mỹ của chúng tôi là một sự pha trộn tinh tế của ảnh hưởng từ Bắc Âu Thiết kế mới và ân huệ dễ dàng của Thiền từ phương Đông, và mong muốn mang lại vẻ đẹp tinh khiết và yên tĩnh của thiên nhiên vào cuộc sống hàng ngày của chúng tôi. Chúng tôi không ngừng được truyền cảm hứng từ thiên nhiên và bản chất hữu cơ, độc đáo, hoàn hảo và thoáng qua của vẻ đẹp của nó. Khi một vật phẩm có một lịch sử tự nhiên và độc đáo, thấm nhuần với một liên lạc của con người, nó trở nên chân thành hơn, chân thực hơn với cuộc sống, và vô cùng xinh đẹp hơn. Với niềm tự hào và niềm vui chân thành trong công việc của chúng tôi, chúng tôi chân thành hy vọng rằng bạn có thể chào đón ngôi nhà của bạn những mảnh thủ công đẹp mắt cho chính bạn và những người thân yêu của bạn để yêu chúng tôi.
					br
					br
					h2 Tầm nhìn &amp; Sứ mệnh
					p Chúng tôi nhiệt tình nỗ lực để khai quật vẻ đẹp thực sự của truyền thống thủ công Việt Nam với thế giới. Được làm thủ công với tình yêu và sự chăm sóc tuyệt vời của các nghệ nhân tận tụy, đồ gỗ, đồ gốm và các sản phẩm dệt của chúng tôi tôn vinh hàng thủ công đẹp nhất của quốc gia như những biểu hiện độc đáo của nhiều thế kỷ truyền thống cổ xưa và tinh tế đương đại. Với bàn tay của riêng chúng tôi, chúng tôi làm những điều thân mật bạn cần trong cuộc sống hàng ngày, và với họ, chúng tôi thêm một vẻ đẹp vượt thời gian.
					br
					p Triết lý thẩm mỹ của chúng tôi là một sự pha trộn tinh tế của ảnh hưởng từ Bắc Âu Thiết kế mới và ân huệ dễ dàng của Thiền từ phương Đông, và mong muốn mang lại vẻ đẹp tinh khiết và yên tĩnh của thiên nhiên vào cuộc sống hàng ngày của chúng tôi. Chúng tôi không ngừng được truyền cảm hứng từ thiên nhiên và bản chất hữu cơ, độc đáo, hoàn hảo và thoáng qua của vẻ đẹp của nó. Khi một vật phẩm có một lịch sử tự nhiên và độc đáo, thấm nhuần với một liên lạc của con người, nó trở nên chân thành hơn, chân thực hơn với cuộc sống, và vô cùng xinh đẹp hơn. Với niềm tự hào và niềm vui chân thành trong công việc của chúng tôi, chúng tôi chân thành hy vọng rằng bạn có thể chào đón ngôi nhà của bạn những mảnh thủ công đẹp mắt cho chính bạn và những người thân yêu của bạn để yêu chúng tôi.


	.mobile-about-nav
		.mobile-about-nav-backdrop
		.mobile-toggle-button
			i.lnr.lnr-chevron-right