<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

  <templatelist xsltname="SB-Blogs.xslt" name="Danh sách Blogs"></templatelist>
  <templatelist xsltname="SB-ThuVien-HinhAnhNews.xslt" name="Thư viện - Hình ảnh"></templatelist>
  <templatelist xsltname="SB-ThuVien-VideoNews.xslt" name="Thư viện - Video"></templatelist>


  <templatedetail xsltname="SB-Blogs-CT.xslt" name="Chi tiết Blog"></templatedetail>
  <templatedetail xsltname="SB-YTuongLoiKhuyenNews.xslt" name="Ý tưởng lời khuyên"></templatedetail>

  <position>
    <add name="Trang chủ-Blog" value="1" resourcefile="" />
  </position>
</templates>