section.home-6
	.container
		.row
			.col
				.tagline-1
					.title
						h2 blog
					.link
						a(href="javascript:void(0)")
							span Xem tất cả
							i.lnr.lnr-arrow-right
		.row
			.col-12.col-md-4
				a(href="javascript:void(0)")
					figure.blog
						.box-zoom
							img(src="./img/home/home_news_1.png", alt="")
						figcaption
							.title
								h3 vẻ đẹp hút mắt của sân vườn được trang trí bằng đá kết hợp sỏi
							.description
								p Những viên đá tự nhiên tưởng chừng như không có công dụng gì nhưng đủ để thổi hồn vào trong khu vườn, khiến thiên nhiên trở nên bừng sáng...
			.col-12.col-md-4
				a(href="javascript:void(0)")
					figure.blog
						.box-zoom
							img(src="./img/home/home_news_2.png", alt="")
						figcaption
							.title
								h3 Mẹo trang trí phòng ngủ trẻ em sáng tạo từ tông màu tường trắng
							.description
								p Có rất nhiều mẹo vặt đơn giản khác hợp phong thủy giúp căn nhà bạn thu hút tiền bạc, công việc làm ăn thuận lợi...
			.col-12.col-md-4
				a(href="javascript:void(0)")
					figure.blog
						.box-zoom
							img(src="./img/home/home_news_3.png", alt="")
						figcaption
							.title
								h3 Ý tưởng DIY hay, dễ làm: 5 cách để trang trí mùa Noel 2018
							.description
								p Noel sắp đến rồi đấy, bạn đã chuẩn bị được gì để trang trí cho ngôi nhà của mình chưa? Hãy học ngay cách làm cây thông Noel bằng vải...