section.ytuong-2
	.container
		.row
			.col-lg-9.offset-lg-3
				.tagline-4
					.title
						h2 Tìm hiểu thêm
		.row
			.col-lg-9.offset-lg-3
				.row
					.col-sm-4
						.news-other
							figure
								a(href="javascript:void(0)")
									.box-zoom
										img(src="./img/yt_lk/5.png", alt="")
									figcaption
										h3 Chọn màu sơn
					.col-sm-4
						.news-other
							figure
								a(href="javascript:void(0)")
									.box-zoom
										img(src="./img/yt_lk/6.png", alt="")
									figcaption
										h3 Chọn vải phải
					.col-sm-4
						.news-other
							figure
								a(href="javascript:void(0)")
									.box-zoom
										img(src="./img/yt_lk/7.png", alt="")
									figcaption
										h3 Hướng dẫn cho đồ nội thất da