section.ytuong-1
	.container
		.row
			.col-lg-3
				.desktop-idea-nav
					.idea-nav
						.title
							h2 ý tưởng + lời khuyên
						.links
							a(href="javascript:void(0)") 
								p Phòng khách
								i.lnr.lnr-chevron-down
							.sub-links
								a(href="javascript:void(0)").active 
									i.mdi.mdi-menu-right
									span Chọn vật liệu phù hợp
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Hướng dẫn đồ da
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Chọn Sofa màu gì
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Vệ sinh Sofa
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Trang trí tường
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Phối hợp kệ Tivi
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Sử dụng kính
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Vật liệu thảm
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Ánh sáng phòng khách
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Tranh ảnh phòng khách
						.links
							a(href="javascript:void(0)") 
								p Phòng ngủ
								i.lnr.lnr-chevron-down
							.sub-links
								a(href="javascript:void(0)")
									i.mdi.mdi-menu-right
									span Chọn vật liệu phù hợp
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Hướng dẫn đồ da
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Chọn Sofa màu gì
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Vệ sinh Sofa
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Trang trí tường
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Phối hợp kệ Tivi
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Sử dụng kính
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Vật liệu thảm
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Ánh sáng phòng khách
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Tranh ảnh phòng khách
						.links
							a(href="javascript:void(0)") 
								p Phòng ăn + Bếp
								i.lnr.lnr-chevron-down
							.sub-links
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Chọn vật liệu phù hợp
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Hướng dẫn đồ da
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Chọn Sofa màu gì
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Vệ sinh Sofa
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Trang trí tường
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Phối hợp kệ Tivi
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Sử dụng kính
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Vật liệu thảm
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Ánh sáng phòng khách
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Tranh ảnh phòng khách
						.links
							a(href="javascript:void(0)") 
								p Phòng làm việc
								i.lnr.lnr-chevron-down
							.sub-links
								a(href="javascript:void(0)")
									i.mdi.mdi-menu-right
									span Chọn vật liệu phù hợp
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Hướng dẫn đồ da
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Chọn Sofa màu gì
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Vệ sinh Sofa
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Trang trí tường
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Phối hợp kệ Tivi
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Sử dụng kính
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Vật liệu thảm
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Ánh sáng phòng khách
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Tranh ảnh phòng khách
						.links
							a(href="javascript:void(0)") 
								p Mẫu trang trí &amp; Decor
								i.lnr.lnr-chevron-down
							.sub-links
								a(href="javascript:void(0)")
									i.mdi.mdi-menu-right
									span Chọn vật liệu phù hợp
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Hướng dẫn đồ da
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Chọn Sofa màu gì
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Vệ sinh Sofa
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Trang trí tường
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Phối hợp kệ Tivi
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Sử dụng kính
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Vật liệu thảm
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Ánh sáng phòng khách
								a(href="javascript:void(0)") 
									i.mdi.mdi-menu-right
									span Tranh ảnh phòng khách

				.desktop-ytuong-social-follow
					.ytuong-social-follow
						a(href="javascript:void(0)")
							figure
								.box-zoom
									img(src="./img/blog/block_7.png", alt="")
								figcaption
									.title
										h2 follow instagram
						a(href="javascript:void(0)")
							figure
								.box-zoom
									img(src="./img/blog/block_8.png", alt="")
								figcaption
									.title
										h2 follow pinterest
			.col-lg-9
				.tagline-3
					.title
						h1 Phối hợp kệ Tivi
					.social-share
						p adasdasdasd
				.faq
					img(src="./img/yt_lk/1.png", alt="")
					p.ask
						span.title Hỏi
						span.content Kệ tivi được lựa chọn phải được thiết kế bằng gỗ tự nhiên. Vì đa số các sản phẩm bằng gỗ tự nhiên đầu tốt hơn gỗ công nghiệp. Đem đến một không gian sang trong và trang nhã trong căn phòng. Không những vậy, những mẫu kệ ti vi bằng gỗ tự nhiên còn có thời gian sử dụng rất lâu, tiết kiệm được một khoảng chi phí cho bạn để trangtrải vào việc khác. Những mẫu kệ ti vi này, càng sử dụng lâu thì màu sắc càng đẹp, bóng, nhẵn theo thời gian và hạn chế được mối mọt.
					p.answer
						span.title Đáp
						span.content Kệ tivi được lựa chọn phải được thiết kế bằng gỗ tự nhiên. Vì đa số các sản phẩm bằng gỗ tự nhiên đầu tốt hơn gỗ công nghiệp. Đem đến một không gian sang trong và trang nhã trong căn phòng. Không những vậy, những mẫu kệ ti vi bằng gỗ tự nhiên còn có thời gian sử dụng rất lâu, tiết kiệm được một khoảng chi phí cho bạn để trangtrải vào việc khác. Những mẫu kệ ti vi này, càng sử dụng lâu thì màu sắc càng đẹp, bóng, nhẵn theo thời gian và hạn chế được mối mọt.
					.separator
					p.ask
						span.title Hỏi
						span.content Kệ tivi được lựa chọn phải được thiết kế bằng gỗ tự nhiên. Vì đa số các sản phẩm bằng gỗ tự nhiên đầu tốt hơn gỗ công nghiệp. Đem đến một không gian sang trong và trang nhã trong căn phòng. Không những vậy, những mẫu kệ ti vi bằng gỗ tự nhiên còn có thời gian sử dụng rất lâu, tiết kiệm được một khoảng chi phí cho bạn để trangtrải vào việc khác. Những mẫu kệ ti vi này, càng sử dụng lâu thì màu sắc càng đẹp, bóng, nhẵn theo thời gian và hạn chế được mối mọt.
					p.answer
						span.title Đáp
						span.content Kệ tivi được lựa chọn phải được thiết kế bằng gỗ tự nhiên. Vì đa số các sản phẩm bằng gỗ tự nhiên đầu tốt hơn gỗ công nghiệp. Đem đến một không gian sang trong và trang nhã trong căn phòng. Không những vậy, những mẫu kệ ti vi bằng gỗ tự nhiên còn có thời gian sử dụng rất lâu, tiết kiệm được một khoảng chi phí cho bạn để trangtrải vào việc khác. Những mẫu kệ ti vi này, càng sử dụng lâu thì màu sắc càng đẹp, bóng, nhẵn theo thời gian và hạn chế được mối mọt.
				.faq
					img(src="./img/yt_lk/2.png", alt="")
					p.ask
						span.title Hỏi
						span.content Kệ tivi được lựa chọn phải được thiết kế bằng gỗ tự nhiên. Vì đa số các sản phẩm bằng gỗ tự nhiên đầu tốt hơn gỗ công nghiệp. Đem đến một không gian sang trong và trang nhã trong căn phòng. Không những vậy, những mẫu kệ ti vi bằng gỗ tự nhiên còn có thời gian sử dụng rất lâu, tiết kiệm được một khoảng chi phí cho bạn để trangtrải vào việc khác. Những mẫu kệ ti vi này, càng sử dụng lâu thì màu sắc càng đẹp, bóng, nhẵn theo thời gian và hạn chế được mối mọt.
					p.answer
						span.title Đáp
						span.content Kệ tivi được lựa chọn phải được thiết kế bằng gỗ tự nhiên. Vì đa số các sản phẩm bằng gỗ tự nhiên đầu tốt hơn gỗ công nghiệp. Đem đến một không gian sang trong và trang nhã trong căn phòng. Không những vậy, những mẫu kệ ti vi bằng gỗ tự nhiên còn có thời gian sử dụng rất lâu, tiết kiệm được một khoảng chi phí cho bạn để trangtrải vào việc khác. Những mẫu kệ ti vi này, càng sử dụng lâu thì màu sắc càng đẹp, bóng, nhẵn theo thời gian và hạn chế được mối mọt.
					.separator
					p.ask
						span.title Hỏi
						span.content Kệ tivi được lựa chọn phải được thiết kế bằng gỗ tự nhiên. Vì đa số các sản phẩm bằng gỗ tự nhiên đầu tốt hơn gỗ công nghiệp. Đem đến một không gian sang trong và trang nhã trong căn phòng. Không những vậy, những mẫu kệ ti vi bằng gỗ tự nhiên còn có thời gian sử dụng rất lâu, tiết kiệm được một khoảng chi phí cho bạn để trangtrải vào việc khác. Những mẫu kệ ti vi này, càng sử dụng lâu thì màu sắc càng đẹp, bóng, nhẵn theo thời gian và hạn chế được mối mọt.
					p.answer
						span.title Đáp
						span.content Kệ tivi được lựa chọn phải được thiết kế bằng gỗ tự nhiên. Vì đa số các sản phẩm bằng gỗ tự nhiên đầu tốt hơn gỗ công nghiệp. Đem đến một không gian sang trong và trang nhã trong căn phòng. Không những vậy, những mẫu kệ ti vi bằng gỗ tự nhiên còn có thời gian sử dụng rất lâu, tiết kiệm được một khoảng chi phí cho bạn để trangtrải vào việc khác. Những mẫu kệ ti vi này, càng sử dụng lâu thì màu sắc càng đẹp, bóng, nhẵn theo thời gian và hạn chế được mối mọt.

				.mobile-ytuong-social-follow
	
	
	.mobile-idea-nav
		.mobile-idea-nav-backdrop
		.mobile-toggle-button
			i.lnr.lnr-chevron-right