section.home-5
	.container
		.row
			.col
				.tagline-1
					.title
						h2 sản phẩm mới
					.link
						a(href="javascript:void(0)")
							span Xem tất cả
							i.lnr.lnr-arrow-right
		.home-product-slider
			.item
				.product
					figure
						.product-image
							img(src="./img/sp/1.png", alt="")
						figcaption
							.product-title
								h3 kệ gunam 1
							.product-description
								p kt: 160 x 60 x 90cm
							.product-price
								p 15.500.000đ
						.product-controls
							a(href="javascript:void(0)") Thêm vào giỏ hàng
							a(href="javascript:void(0)") Chi tiết
			.item
				.product
					figure
						.product-image
							img(src="./img/sp/2.png", alt="")
						figcaption
							.product-title
								h3 kệ gunam 1
							.product-description
								p kt: 160 x 60 x 90cm
							.product-price
								p 15.500.000đ
						.product-controls
							a(href="javascript:void(0)") Thêm vào giỏ hàng
							a(href="javascript:void(0)") Chi tiết
			.item
				.product
					figure
						.product-image
							img(src="./img/sp/3.png", alt="")
						figcaption
							.product-title
								h3 kệ gunam 1
							.product-description
								p kt: 160 x 60 x 90cm
							.product-price
								p 15.500.000đ
						.product-controls
							a(href="javascript:void(0)") Thêm vào giỏ hàng
							a(href="javascript:void(0)") Chi tiết
			.item
				.product
					figure
						.product-image
							img(src="./img/sp/4.png", alt="")
						figcaption
							.product-title
								h3 kệ gunam 1
							.product-description
								p kt: 160 x 60 x 90cm
							.product-price
								p 15.500.000đ
						.product-controls
							a(href="javascript:void(0)") Thêm vào giỏ hàng
							a(href="javascript:void(0)") Chi tiết
			.item
				.product
					figure
						.product-image
							img(src="./img/sp/5.png", alt="")
						figcaption
							.product-title
								h3 kệ gunam 1
							.product-description
								p kt: 160 x 60 x 90cm
							.product-price
								p 15.500.000đ
						.product-controls
							a(href="javascript:void(0)") Thêm vào giỏ hàng
							a(href="javascript:void(0)") Chi tiết
			.item
				.product
					figure
						.product-image
							img(src="./img/sp/6.png", alt="")
						figcaption
							.product-title
								h3 kệ gunam 1
							.product-description
								p kt: 160 x 60 x 90cm
							.product-price
								p 15.500.000đ
						.product-controls
							a(href="javascript:void(0)") Thêm vào giỏ hàng
							a(href="javascript:void(0)") Chi tiết