section.product-detail-2
	.container
		.row
			.col
				.block-title
					h2 Thông tin sản phẩm
				.product-tabs
					.tab
						.title
							h3 chi tiết sản phẩm
							i.lnr.lnr-chevron-down
						.content
							table
								tbody
									tr
										th(rowspan="4") Xuất xứ
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										th(rowspan="4") Xuất xứ
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										th(rowspan="4") Xuất xứ
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
					.tab
						.title
							h3 chi tiết sản phẩm
							i.lnr.lnr-chevron-down
						.content
							table
								tbody
									tr
										th(rowspan="4") Xuất xứ
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										th(rowspan="4") Xuất xứ
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										th(rowspan="4") Xuất xứ
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
					.tab
						.title
							h3 chi tiết sản phẩm
							i.lnr.lnr-chevron-down
						.content
							table
								tbody
									tr
										th(rowspan="4") Xuất xứ
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										th(rowspan="4") Xuất xứ
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										th(rowspan="4") Xuất xứ
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
									tr
										td 
											.td-title
												span Thương hiệu
												span :
										td Đan Mạch
