section.blog-1
	.container
		.row
			.col-12.col-lg-8.col-xl-9
				.blog-big
					.title
						h2 Tiêu đề 1 cho chuyên mục blog
					a(href="/blogs.detail.html")
						figure
							.box-zoom
								img(src="./img/blog/block_1.png", alt="")
							figcaption
								.description
									p Kể từ khi thành lập vào năm 2016, Gunam đã dành riêng để kỷ niệm và duy trì truyền thống thủ công mỹ nghệ của Việt Nam. Chúng tôi có ba xưởng: nghề mộc Kim Cầu, gốm Phủ Dũ và vải dệt Hải Bình; và ba trụ cột của triết lý sản xuất: thiết kế tinh tế, lựa chọn vật liệu và khéo léo. Chúng tôi cũng quan tâm...
								.info
									.social
										p asdad
									.timeline
										.time
											i.fas.fa-calendar-alt
											span 29/11/2018
										.viewmore
											span Chi tiết
											i.lnr.lnr-arrow-right
				.blog-big
					.title
						h2 Tiêu đề 2 cho chuyên mục blog
					a(href="javascript:void(0)")
						figure
							.box-zoom
								img(src="./img/blog/block_2.png", alt="")
							figcaption
								.description
									p Kể từ khi thành lập vào năm 2016, Gunam đã dành riêng để kỷ niệm và duy trì truyền thống thủ công mỹ nghệ của Việt Nam. Chúng tôi có ba xưởng: nghề mộc Kim Cầu, gốm Phủ Dũ và vải dệt Hải Bình; và ba trụ cột của triết lý sản xuất: thiết kế tinh tế, lựa chọn vật liệu và khéo léo. Chúng tôi cũng quan tâm...
								.info
									.social
										p asdad
									.timeline
										.time
											i.fas.fa-calendar-alt
											span 29/11/2018
										.viewmore
											span Chi tiết
											i.lnr.lnr-arrow-right
				.blog-big
					.title
						h2 Tiêu đề 3 cho chuyên mục blog
					a(href="javascript:void(0)")
						figure
							.box-zoom
								img(src="./img/blog/block_3.png", alt="")
							figcaption
								.description
									p Kể từ khi thành lập vào năm 2016, Gunam đã dành riêng để kỷ niệm và duy trì truyền thống thủ công mỹ nghệ của Việt Nam. Chúng tôi có ba xưởng: nghề mộc Kim Cầu, gốm Phủ Dũ và vải dệt Hải Bình; và ba trụ cột của triết lý sản xuất: thiết kế tinh tế, lựa chọn vật liệu và khéo léo. Chúng tôi cũng quan tâm...
								.info
									.social
										p asdad
									.timeline
										.time
											i.fas.fa-calendar-alt
											span 29/11/2018
										.viewmore
											span Chi tiết
											i.lnr.lnr-arrow-right
			.col-12.col-lg-4.col-xl-3
				.side-blog
					.blog-small
						.title
							h2 Tiêu đề 4 cho chuyên mục blog
						a(href="javascript:void(0)")
							figure
								.box-zoom
									img(src="./img/blog/block_4.png", alt="")
					.blog-small
						.title
							h2 Tiêu đề 5 cho chuyên mục blog
						a(href="javascript:void(0)")
							figure
								.box-zoom
									img(src="./img/blog/block_5.png", alt="")
					.blog-small
						.title
							h2 Tiêu đề 6 cho chuyên mục blog
						a(href="javascript:void(0)")
							figure
								.box-zoom
									img(src="./img/blog/block_6.png", alt="")
				.desktop-blog-form
					.blog-form
						.title
							h2 đăng ký nhận bản tin
						.subscribefrm
							input(type="text").subscribeemail
							button.subscribebutton Đăng ký
				.desktop-social-follow
					.social-follow
						a(href="javascript:void(0)")
							figure
								.box-zoom
									img(src="./img/blog/block_7.png", alt="")
								figcaption
									.title
										h2 follow instagram
						a(href="javascript:void(0)")
							figure
								.box-zoom
									img(src="./img/blog/block_8.png", alt="")
								figcaption
									.title
										h2 follow pinterest

		.row
			.col-lg-9
				a(href="javascript:void(0)").viewmore-btn xem thêm

		.row
			.col
				.mobile-blog-form
				.mobile-social-follow