section.sales-detail-1
	.container
		.row
			.col
				.product-detail
					.product-detail-slider
						.swiper-container.slider
							.swiper-wrapper
								.swiper-slide
									img(src="./img/bst_detail/1.png", alt="")
								.swiper-slide
									img(src="./img/bst_detail/1.png", alt="")
								.swiper-slide
									img(src="./img/bst_detail/1.png", alt="")
								.swiper-slide
									img(src="./img/bst_detail/1.png", alt="")
							.swiper-button-next
								i.lnr.lnr-chevron-right
							.swiper-button-prev
								i.lnr.lnr-chevron-left
						.swiper-container.thumbnail
							.swiper-wrapper
								.swiper-slide
									img(src="./img/bst_detail/1.png", alt="")
								.swiper-slide
									img(src="./img/bst_detail/1.png", alt="")
								.swiper-slide
									img(src="./img/bst_detail/1.png", alt="")
								.swiper-slide
									img(src="./img/bst_detail/1.png", alt="")
					.product-info
						.title
							h1 Xuân Collection
						.subtitle
							h2 Trọn bộ
						.code
							p SKU: 160897
						.prices
							.price
								p 12,100,000
								p Chưa bao gồm VAT
							.oldprice
								p 13,500,000
						.quantity
							p SL
							input(type="text" value="1")
						.coupon
							a(href="javascript:void(0)") Code giảm giá
						.sharer
							p Chia sẻ qua
							a(href="javascript:void(0)")
								i.fab.fa-facebook-f
						.buy
							a(href="javascript:void(0)") Mua hàng
						.brief-content
							p Kệ TV Khoai Tây  kiểu dáng Bắc  Âu đương  đại  ngoài  chức  năng  chính còn đem đến  nhiều không  gian  lưu trữ hơn cho  phòng khách.  Việc  sắp xếp và bảo  quản  sách  báo,  tạp  chí, thiết bị điện tử sẽ  hiệu  quả  hơn  nhờ thiết kế gồm 6 ngăn chứa  và mặt  kệ rộng rãi. 

