footer.canhcam-footer-1
	article.footer-nav
		.container
			.row
				.col-12.col-sm-4.col-lg-2
					.footer-logo
						img(src="./img/global/logo.png", alt="")
				.col-12.col-sm-8.col-lg-5
					.footer-title
						h2 Công ty TNHH SEEDBE
					.footer-content
						.contact-info
							.contact-info-item
								i.lnr.lnr-map-marker
								a(href="javascript:void(0)") 50 Đường số 4, Phường An Phú, Quận 2, Tp. HCM
							.contact-info-item
								i.lnr.lnr-smartphone
								a(href="javascript:void(0)") (+84) 094 562 5518
							.contact-info-item
								i.lnr.lnr-envelope
								a(href="javascript:void(0)") info@gunam.com

				.col-12.col-lg-5
					.footer-form
						h2 ĐĂNG KÝ NHẬN BẢN TIN
						p Để cập nhật thông tin mới từ GUNAM
					.subscribefrm
						input(type="text").subscribeemail
						button.subscribebutton
	article.footer-copyright
		.container
			.row
				.col.footer-copyright-wrapper
					.copyright
						p 
							|Copyright &#169; 2018 Gunam. All Rights Reserved. Designed by 
							a(href="https://www.canhcam.vn/") Cánh Cam
						ul
							li
								a(href="javascript:void(0)") Site Map
							li
								a(href="javascript:void(0)") Quy định &amp; điều khoản sử dụng
							li
								a(href="javascript:void(0)") Tuyển dụng
							li
								a(href="javascript:void(0)") Liên hệ
						.license
							p Số ĐKKD: 0314171609 cấp ngày: 20/02/2018 tại Sở Kế Hoạch và Đầu Tư Thành phố Hồ Chí Minh, Việt Nam.
					.social
						ul
							li
								a(href="javascript:void(0)")
									i.fab.fa-facebook-f
							li
								a(href="javascript:void(0)")
									i.fab.fa-twitter
							li
								a(href="javascript:void(0)")
									i.fab.fa-google-plus-g
							li
								a(href="javascript:void(0)")
									i.fab.fa-youtube