extends _layout/_layout.pug

block var
	- title = 'Demo - Bảo hành'
	- bodyClass = 'about-page'

block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/banner/banner-2/index.pug
	include ../lib/dichvuhotro/d-baohanh/index.pug
block footer
	include ../lib/footer/f-1/index.pug