extends _layout/_layout.pug

block var
	- title = 'Demo - Khuyến mãi chi tiết'
	- bodyClass = 'about-page'

block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/sales_detail/s-1/index.pug
	include ../lib/sales_detail/s-2/index.pug
	include ../lib/sales_detail/s-3/index.pug
	include ../lib/sales_detail/s-4/index.pug
	include ../lib/sales_detail/s-5/index.pug
block footer
	include ../lib/footer/f-1/index.pug