extends _layout/_layout.pug

block var
	- title = 'Demo - Khuyến mãi'
	- bodyClass = 'about-page'

block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/sales/p-1/index.pug
block footer
	include ../lib/footer/f-1/index.pug