<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
	<add name="Trang chủ - Sản phẩm khuyến mãi" value="1" resourcefile="" />
	<add name="Bộ sưu tập khác" value="2" resourcefile="" />
	<add name="Trang chủ - Bộ sưu tập" value="4" resourcefile="" />
	<add name="Trang chủ - Sản phẩm mới" value="8" resourcefile="" />
  </position>
  
  <showoption name="Mới" value="1" class="promotion op1" />
  <showoption name="Khuyến mãi" value="2" class="promotion op2" />

  <templatelist xsltname="SB-CollectionList.xslt" name="Danh sách bộ sưu tập" />
  <templatelist xsltname="SB-ProductList.xslt" name="Danh sách sản phẩm" />
  <templatelist xsltname="SB-SalesList.xslt" name="Danh sách khuyến mãi" />



  <templatedetail xsltname="SB-CollectionCT.xslt" name="Chi tiết bộ sưu tập" />
  <templatedetail xsltname="SB-ProductCT.xslt" name="Chi tiết sản phẩm" />
  <templatedetail xsltname="SB-SalesCT.xslt" name="Chi tiết khuyến mãi" />
</templates>