<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Menu trái header" value="1" resourcefile="" />
      <add name="Menu phải header" value="2" resourcefile="" />
      <add name="Hỏi đáp / FAQ" value="4" resourcefile="" />
      <add name="Giới thiệu" value="8" resourcefile="" />
      <add name="Dịch vụ hỗ trợ" value="16" resourcefile="" />
      <add name="Ý tưởng &amp; lời khuyên" value="32" resourcefile="" />
      <add name="Thư viện - Hình ảnh" value="64" resourcefile="" />
      <add name="Thư viện - Video" value="128" resourcefile="" />
      <add name="Bộ sưu tập" value="256" resourcefile="" />
      <add name="Sản phẩm" value="512" resourcefile="" />
      <add name="Khuyến mãi" value="1024" resourcefile="" />
      <add name="Trang chủ - Menu Sản phẩm" value="2048" resourcefile="" />
    </position>

</settings>