section.banner-2
	.banner-2-wrapper
		.item
			figure
				.box-zoom(bg-img="./img/global/banner_about.png")
				figcaption
					.title
						h1 our story
					.description
						p Câu chuyện trên mảnh đất mẹ
					