section.collection-detail-1
	.container
		.row
			.offset-lg-3.col-lg-9
				.product-detail-slider
					.swiper-container.slider
						.swiper-wrapper
							.swiper-slide
								img(src="./img/bst_detail/1.png", alt="")
							.swiper-slide
								img(src="./img/bst_detail/1.png", alt="")
							.swiper-slide
								img(src="./img/bst_detail/1.png", alt="")
							.swiper-slide
								img(src="./img/bst_detail/1.png", alt="")
					.swiper-container.thumbnail
						.swiper-wrapper
							.swiper-slide
								img(src="./img/bst_detail/1.png", alt="")
							.swiper-slide
								img(src="./img/bst_detail/1.png", alt="")
							.swiper-slide
								img(src="./img/bst_detail/1.png", alt="")
							.swiper-slide
								img(src="./img/bst_detail/1.png", alt="")