section.home-4
	.container
		.row
			.col
				.tagline-1
					.title
						h2 bộ sưu tập
					.link
						a(href="javascript:void(0)")
							span Xem tất cả
							i.lnr.lnr-arrow-right
		.row
			.col-12.col-md-4
				figure.other-collection
					.box-zoom
						img(src="/img/home/home_gallery_1.png", alt="")
					figcaption
						.title
							h3 Mr. A Collection
						.link
							a(href="javascript:void(0)") Chi tiết
			.col-12.col-md-4
				figure.other-collection
					.box-zoom
						img(src="/img/home/home_gallery_2.png", alt="")
					figcaption
						.title
							h3 Mr. A Collection
						.link
							a(href="javascript:void(0)") Chi tiết
			.col-12.col-md-4
				figure.other-collection
					.box-zoom
						img(src="/img/home/home_gallery_3.png", alt="")
					figcaption
						.title
							h3 Mr. A Collection
						.link
							a(href="javascript:void(0)") Chi tiết